<a href="https://colab.research.google.com/github/KONA1005/google_drive/blob/main/google_colab/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%8A%9C%ED%94%8C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

대괄호로 감싸 주고 각 요솟값은 쉼표로 구분해준다.

In [ ]:
a = []
b = [1,2,3]
c = ["A","b","C]
d = [1,2,"G","test"]
e = [4,6,["Life","Like"]]

비어 있는 리스트는 a = list() 로 생성할 수도 있다

## 리스트 인덱싱 / 슬라이싱

### 인덱싱

In [ ]:
a = [1,2,3,4]
# a
a[2]

3

In [ ]:
a[0] + a[2]

4

In [ ]:
a[-1]

4

In [ ]:
a = [1,2,3, ['a','b','c']]
print(a[0])
print(a[-1])

print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

1
['a', 'b', 'c']
a
b
c

### 슬라이싱

In [ ]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [ ]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

print(b)
print(c)

[1, 2]
[3, 4, 5]

## 리스트 연산

### 리스트 더하기 / 반복 / 길이

In [ ]:
a = [1,2,3]
b = [4,5,6]

a + b

[1, 2, 3, 4, 5, 6]

+ 는 리스트를 합치는 기능. 문자열에서 "abc" + "de" = "abcde"와 같다

In [ ]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = [1,2,3,4]
len(a)

4

**정수와 문자열은 당연히 서로 더할 수 없다**

In [ ]:
a = [1,2,3]
# a[2] + "hi"

str(a[2]) + "hi"

'3hi'

## 리스트 수정 / 삭제

In [ ]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
a = [1,2,3]
del a[1]
a

[1, 3]

del a[x] 는 x번째 요솟값을 삭제한다.
del 객체

In [ ]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

### 요소 추가 append

In [ ]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

### 정렬 sort

In [ ]:
a = [1,4,2,3,6,5]
a.sort()
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a = ['b','g','a','e','c']
a.sort()
a

['a', 'b', 'c', 'e', 'g']

### 뒤집기 reverse

In [ ]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

### 위치 index

index(x) 리스트에 x 값이 있으면 x의 위치 반환

리스트에 존재 하지 않으면 오류 발생

In [ ]:
a = [1,2,3]
a.index(3)

2

### 삽입 insert
insert(a,b) a번째에 b 삽입, 0부터 숫자 세는거 기억

In [ ]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [ ]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

### 제거 remove

remove(x) 리스트에서 첫 번째로 나오는 x를 삭제한다

In [ ]:
a = [1,2,3,4,2,3,5]
a.remove(3)
a

[1, 2, 4, 2, 3, 5]

### 요소 끄집어내기 pop
맨 마지막 요소를 돌려주고 그 요소는 삭제한다

In [ ]:
a = [1,2,3]
a.pop()
a

[1, 2]

### 개수 세기 count
count(x)는 리스트 안에 x의 개수를 돌려준다

In [ ]:
a = [1,2,3,1]
a.count(1)

2

### 리스트 확장 extend
extend(x) x에는 리스트만 올 수 있다. 원래의 a 리스트에 x리스트를 더하게 된다

In [2]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

# 튜플

튜플 () / 리스트 []
값 바꿀 수 없음

## 요솟값 삭제 / 변경
- 삭제 X
- 변경 X

In [1]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: ignored

In [ ]:
t1 = (1,2,'a','b')
t1[0] = 'c'

## 다루기

### 인덱싱

In [3]:
t1 = (1,2,'a','b')
t1[0]

1

### 슬라이싱

In [4]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

### 더하기

In [5]:
t1 = (1,2,'a','b')
t2 = (3,4)

t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 곱하기

In [6]:
t2 = (3,4)
t2 * 3

(3, 4, 3, 4, 3, 4)

### 길이 구하기

In [7]:
t1 = (1,2,'a','b')
len(t1)

4

# 딕셔너리
Key / Value

{Key1:Value1, Key2:Value2, Key3:Value3, ...}


Key는 변하지 않는 값을 사용, value는 변하는 값, 변하지 않는값 모두 가능

In [8]:
dic = {'name':'kitty', 'phone':'0123456789', 'birth':'1118'}

## 쌍 추가, 삭제
- {1:'a'} 딕셔너리에 a[2] = 'b' 하면 a에 key와 value 가 각각 2와 'b'인 2:'b' 라는 딕셔너리 쌍이 추가된다.

In [9]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [10]:
a['name'] = 'kitty'
a

{1: 'a', 2: 'b', 'name': 'kitty'}

In [11]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'kitty'}

- del[key] 입력하면 key에 해당하는 키값과 밸류 쌍이 삭제된다

In [12]:
del a[1]
a

{2: 'b', 3: [1, 2, 3], 'name': 'kitty'}

## 사용
- 어떤 키의 값을 얻기 위해서는 딕셔너리변수이름[key]를 사용한다

In [14]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [16]:
a = {1:'a', 2:'b'}
print(a[1])
print(a[2])

a
b

In [17]:
a = {'a':1, 'b':2}
print(a['a'])
print(a['b'])

1
2

In [19]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
0119993323
1118

## 주의사항
- key는 고유값, 중복되는 key값 설정하면 하나 제외한 나머지 것들 모두 무시된다.
- 리스트 X 튜플 O

In [20]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

## 관련 함수

### 리스트 만들기 keys

In [21]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [22]:
for k in a.keys():
    print(k)

name
phone
birth

In [23]:
list(a.keys()) # 리스트 변환

['name', 'phone', 'birth']

### vlaue 리스트 만들기 values

In [24]:
a.values()

dict_values(['pey', '0119993323', '1118'])

### 쌍 얻기 items

In [26]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

### 쌍 모두 지우기 clear

In [28]:
a.clear()
a

{}

### 키로 밸류 얻기 get

In [29]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.get('name')

'pey'

딕셔너리 안에 찾으려는 키값이 없을 경우 미리 정해둔 디폴트 값 대신 가져오게 하고 싶을때는 **get(x,'디폴트값')**

In [30]:
a.get('foo','bar')

'bar'

### 키가 딕셔너리 안에 있는지 조사 in

In [31]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
'name' in a

True