<a href="https://colab.research.google.com/github/KONA1005/google_drive/blob/main/google_colab/%EB%B0%98%EB%B3%B5%EB%AC%B8%EB%B3%B4%EC%B6%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문
- 패턴 잡기가 중요

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
      print(i * j, end =" ")

2 4 6 8 10 12 14 16 18 3 6 9 12 15 18 21 24 27 4 8 12 16 20 24 28 32 36 5 10 15 20 25 30 35 40 45 6 12 18 24 30 36 42 48 54 7 14 21 28 35 42 49 56 63 8 16 24 32 40 48 56 64 72 9 18 27 36 45 54 63 72 81

2 단

In [ ]:
print("2 x 1 = 2")
print("2 x 2 = 4")
print("2 x 3 = 6")

In [ ]:
num = 1


print("2 x ", num, "=", 2 * num)
print("2 x ", num, "=", 2 * 2)
print("2 x ", num, "=", 2 * 3)

2 x  1 = 2
2 x  1 = 4
2 x  1 = 6

In [ ]:
for num in range(1,10):
  print("num = ", num)
  print("2 x ", num , "=", 2 * num)

  # 문자열 포맷팅
  print(f'num = {num}')
  print(f'2 x {num} = {2 * num}\n')

num =  1
2 x  1 = 2
num = 1
2 x 1 = 2

num =  2
2 x  2 = 4
num = 2
2 x 2 = 4

num =  3
2 x  3 = 6
num = 3
2 x 3 = 6

num =  4
2 x  4 = 8
num = 4
2 x 4 = 8

num =  5
2 x  5 = 10
num = 5
2 x 5 = 10

num =  6
2 x  6 = 12
num = 6
2 x 6 = 12

num =  7
2 x  7 = 14
num = 7
2 x 7 = 14

num =  8
2 x  8 = 16
num = 8
2 x 8 = 16

num =  9
2 x  9 = 18
num = 9
2 x 9 = 18

In [ ]:
for num1 in range(2,10):
  print(f'num1 = {num1}') # 고정이됨. 아래 for-loop가 다 돌 때까지
  
  for num2 in range(1,10): 
    # 문자열 포맷팅
    print(f'num = {num2}')
    print(f'{num1} x {num2} = {num1 * num2}\n')

num1 = 2
num = 1
2 x 1 = 2

num = 2
2 x 2 = 4

num = 3
2 x 3 = 6

num = 4
2 x 4 = 8

num = 5
2 x 5 = 10

num = 6
2 x 6 = 12

num = 7
2 x 7 = 14

num = 8
2 x 8 = 16

num = 9
2 x 9 = 18

num1 = 3
num = 1
3 x 1 = 3

num = 2
3 x 2 = 6

num = 3
3 x 3 = 9

num = 4
3 x 4 = 12

num = 5
3 x 5 = 15

num = 6
3 x 6 = 18

num = 7
3 x 7 = 21

num = 8
3 x 8 = 24

num = 9
3 x 9 = 27

num1 = 4
num = 1
4 x 1 = 4

num = 2
4 x 2 = 8

num = 3
4 x 3 = 12

num = 4
4 x 4 = 16

num = 5
4 x 5 = 20

num = 6
4 x 6 = 24

num = 7
4 x 7 = 28

num = 8
4 x 8 = 32

num = 9
4 x 9 = 36

num1 = 5
num = 1
5 x 1 = 5

num = 2
5 x 2 = 10

num = 3
5 x 3 = 15

num = 4
5 x 4 = 20

num = 5
5 x 5 = 25

num = 6
5 x 6 = 30

num = 7
5 x 7 = 35

num = 8
5 x 8 = 40

num = 9
5 x 9 = 45

num1 = 6
num = 1
6 x 1 = 6

num = 2
6 x 2 = 12

num = 3
6 x 3 = 18

num = 4
6 x 4 = 24

num = 5
6 x 5 = 30

num = 6
6 x 6 = 36

num = 7
6 x 7 = 42

num = 8
6 x 8 = 48

num = 9
6 x 9 = 54

num1 = 7
num = 1
7 x 1 = 7

num = 2
7 x 2 = 14

num = 3
7 x 3 = 21

num = 4
7 x 4 = 28

num = 5
7 x 5 = 35

num = 6
7 x 6 = 42

num = 7
7 x 7 = 49

num = 8
7 x 8 = 56

num = 9
7 x 9 = 63

num1 = 8
num = 1
8 x 1 = 8

num = 2
8 x 2 = 16

num = 3
8 x 3 = 24

num = 4
8 x 4 = 32

num = 5
8 x 5 = 40

num = 6
8 x 6 = 48

num = 7
8 x 7 = 56

num = 8
8 x 8 = 64

num = 9
8 x 9 = 72

num1 = 9
num = 1
9 x 1 = 9

num = 2
9 x 2 = 18

num = 3
9 x 3 = 27

num = 4
9 x 4 = 36

num = 5
9 x 5 = 45

num = 6
9 x 6 = 54

num = 7
9 x 7 = 63

num = 8
9 x 8 = 72

num = 9
9 x 9 = 81