<a href="https://colab.research.google.com/github/KONA1005/google_drive/blob/main/google_colab/%EC%A0%90%ED%94%84_%ED%88%AC_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%AB%EC%9E%90_%EB%AC%B8%EC%9E%90%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자형
- 숫자 형태로 이루어진 자료형
  + 정수 1,2,3
  + 실수 12.3

## 정수
- integer.

In [ ]:
a = 123
a = -178
a = 0

## 실수 
- 소수점이 포함된 숫자. float

In [ ]:
a = 1.2
a = 3.45

# 문자형

## - 문자열 만드는 방법

### 1. 큰따옴포로 양쪽 둘러싸기

In [ ]:
"Hello World"

### 2. 작은따옴표로 양쪽 둘러싸기

### 3. 큰따옴표 3개 연속 사용

In [ ]:
"""ABCDEF"""

### 4. 작은따옴표 3개 연속

In [ ]:
'''ABCD, FEFWED'''

****

## - 문자열 안에 따옴표 포함시킬때

### 1. 작은따옴표 포함시키기
- DD's favorite food is apple

In [ ]:
food = "DD's favorite food is apple"

작은따옴표로 문자열 둘러싸면 구문오류 발생

### 2. 큰따옴표 포함시키기

- "Python is very easy." he says.
- 작은따옴표 안에 사용된 큰따옴표는 문자열을 만드는 기호로 인식되지 않는다.

In [ ]:
say = '"Python is very easy." he says.'

### 3. 백슬래시 사용 작은따옴표, 큰따옴표 포함시키기

In [ ]:
food = 'python\'s favorite food is peal'
say = "\"Python is very easy.\" he says."

- 백슬래시를 따옴표 앞에 삽입하면 백슬래시 뒤의 따옴표들은 문자열을 둘러싸는 기호의 의미가 아니라 문자 그 자체를 뜻하게 된다.

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

- Life is too short
- You need python

### 1. 줄을 바꾸기 위한 이스케이프 코드 사용 \n

In [ ]:
multiline = "Life is too short\nYou need python"

불편하고 줄이 길어지는 단점이 있다

### 2. 연속된 작은따옴표/큰따옴표 3개 사용

In [1]:
multiline= '''
Likfe is too short
You need python
'''

In [ ]:
multiline= """
Likfe is too short
You need python
"""

In [2]:
print(multiline)

Likfe is too short
You need python

- \n	문자열 안에서 줄을 바꿀 때 사용
- \t	문자열 사이에 탭 간격을 줄 때 사용
- \\	문자 \를 그대로 표현할 때 사용
- \'	작은따옴표(')를 그대로 표현할 때 사용
- \"	큰따옴표(")를 그대로 표현할 때 사용
- \r	캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
- \f	폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a	벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
- \b	백 스페이스
- \000	널 문자

## 문자열 연산하기

### 1. 연결하기 Concatenation

In [8]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

### 2. 곱하기

In [10]:
a = "python "
a * 2

'python python '

### 3. 길이 구하기

In [11]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱 / 슬라이싱
- 가리킨다 / 잘라낸다

****
- 인덱싱

In [12]:
a = "Life is too short, You need python"
a[3]

'e'

- 파이썬은 0 부터 숫자를 센다
- a[번호]
- [-1]은 뒤에서부터 첫번째

In [13]:
a[-1]

'n'

- 슬라이싱

In [16]:
a[0:3]

'Lif'

- a[시작번호 : 끝번호]
- **끝번호는 포함하지 않는다**
- 0 <= a < 3
- 공백도 센다. 시작이 0 일 필요 없다

In [23]:
print(a[5:7])
print(a[12:17])
print(a[:19])
print(a[:])
print(a[19:-7])

is
short
Life is too short,
Life is too short, You need python
You need

### 슬라이싱으로 문자열 나누기
****

In [25]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rainy

In [26]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[:8]
print(year)
print(day)
print(weather)

2001
0331
20010331

- **바꾸기**
- 슬라이싱을 사용해 Pithon 을 Python으로 바꾸기

In [32]:
a = "Pithon"
print(a[:1])
print(a[2:])

P
thon

In [33]:
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅
**" 현재 온도는 18도 입니다."** 를
 시간이 지나서 20도가 되면 다음 문장을 출력한다.

**"현재 온도는 20도 입니다."**

20, 18 이라는 숫자만 다를뿐 같은 문자열이다.

**문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것**

### 1. 숫자 바로 대입 %d

In [34]:
"I eat %d apples." %3

'I eat 3 apples.'

### 2. 문자열 바로 대입 %s

In [35]:
"I eat %s apples." %"five"

'I eat five apples.'

- %d : 숫자
- %s : 문자
- **문자열 대입 시 따옴표 필수**

### 3. 숫자 값을 나타내는 변수로 대입

In [36]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

### 4. 2개 이상의 값 넣기

In [37]:
number = 10
day = "there"

"I eat %d apples. so I was sick for %s days." % (number, day)

'I eat 10 apples. so I was sick for there days.'

- %s	문자열(String)
- %c	문자 1개(character)
- %d	정수(Integer)
- %f	부동소수(floating-point)
- %o	8진수
- %x	16진수
- %%	Literal % (문자 % 자체)

- 포맷 코드 %s
- 3을 문자열 안에 삽입하려면 %d를 사용하고 3.324를 삽입하려면 %f를 사용해야 하지만 **%s**를 사용하면 자동으로 **%**뒤에 있는 값을 문자열로 바꾼다

In [38]:
"I have %s apples." % 3

'I have 3 apples.'

In [39]:
"rate is %s" %3.234

'rate is 3.234'

- %d와 % 를 같이 쓸때는 **%%**를 쓴다

In [40]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [42]:
"%10s" % "hi"

'        hi'

In [44]:
"%-10s jane" % "Bye"

'Bye        jane'

- %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

- 왼쪽 정렬은 %-10s

#### 2. 소수점 표현하기

In [45]:
"%0.4f" % 3.42132465

'3.4213'

- 소수점 네 번재 자리까지만 나타내고 싶은 경우 위와 같이 사용.

- '.'의 의미는 소수점 포인트를 말하고 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수를 말한다

In [46]:
"10%.4f" % 3.41231654

'103.4123'

## format 함수 사용한 포매팅

### 숫자 바로 대입

In [47]:
"I eat {0} apples".format(3)

'I eat 3 apples'

### 문자 바로 대입

In [48]:
"I eat {0}apples".format("five")

'I eat fiveapples'

### 숫자 값을 가진 변수로 대입

In [50]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

### 2개 이상의 값 넣기

In [51]:
number = 10
day = "three"
"I eat {0} apples. so I was sick for {1} days.".format(number, day)

'I eat 10 apples. so I was sick for three days.'

2개 이상의 값을 넣을 경우 문자열의 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀐다.

### 이름으로 넣기

In [52]:
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름 혼용해서 넣기

In [53]:
"I ate {0} apples. so i was sick for {day} days.".format(10, day = 3)

'I ate 10 apples. so i was sick for 3 days.'

### 왼쪽 / 오른쪽 / 가운데 정렬
- :<10 표현식 사용. 문자열 왼쪽 정렬하고 문자열의 총 자릿수 10으로 맞춤
- 오른쪽은 반대
- :^ 가운데 정렬

In [56]:
"{0:<10}".format("hi")

'hi        '

In [57]:
"{0:>10}".format("hi")

'        hi'

In [58]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기
- 채워 넣을 문자 값은 정렬문자 < , > , ^ 바로 앞에 넣어야 한다.

In [59]:
"{0:=^10}".format("hi")

'====hi===='

- 가운데 ^ 정렬, 빈공간 = 로 채우기

In [60]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

- 왼쪽 < 으로 정렬, 빈공간 ! 로 채우기

## f 문자열 포매팅
- 문자열 앞에 f 접두사 붙이기
- f문자열 포매팅은 표현식을 지원한다
  + 표현식 : 문자열 안에서 변수와 +, -  와 같은 수식을 함께 사용하는 것

In [62]:
name = "홍길동"
age = 30
f'나의 이름은 {name} 입니다. 나이는 {age} 입니다.'

'나의 이름은 홍길동 입니다. 나이는 30 입니다.'

- 딕셔너리는 f문자열 포매팅에서 다음과 같이 사용할 수 있다.

In [66]:
d = {'name': '홍길동' , 'age':30}
f'나의 이름은 {d["name"]} 입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 홍길동 입니다. 나이는 30 입니다.'

In [67]:
>>> f'{"hi":<10}'  # 왼쪽 정렬
'hi        '
>>> f'{"hi":>10}'  # 오른쪽 정렬
'        hi'
>>> f'{"hi":^10}'  # 가운데 정렬
'    hi    '

'    hi    '

In [68]:
>>> f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기
'====hi===='
>>> f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기
'hi!!!!!!!!'

'hi!!!!!!!!'

f문자열에서 {} 문자를 표시하려면 두개 동시에 사용

In [69]:
f'{{ and }}'

'{ and }'

## 문자열 관련 함수

### 문자 개수 세기 count

In [70]:
a = "hobby"
a.count('b')

2

### 위치 알려주기 find

In [72]:
a = "Python is the best choice"
print(a.find('b'))
print('')
print(a.find('k')) 
# 찾는 문자, 문자열이 존재하지 않으면 -1

14

-1

### 위치 알려주기 index

In [73]:
a = "Life is too short"
a.index('t')

# 찾는 문자 없으면 오류 발생

8

### 문자열 삽입 join

In [74]:
",".join('abcd')

'a,b,c,d'

abcd 문자열의 각각의 문자 사이에 , 를 삽입

In [75]:
",".join(['a','b','c','d'])
# 리스트형

'a,b,c,d'

### 대/소 문자 바꾸기

In [76]:
a = "hi"
a.upper()

'HI'

In [77]:
a = "HI"
a.lower()

'hi'

### 왼쪽 / 오른쪽 공백 지우기 lstrip / rstrip

In [79]:
a = "hi "
a.lstrip()

'hi '

In [80]:
a = " hi"
a.rstrip()

' hi'

### 양쪽 공백 지우기 strip

In [81]:
a = " hi "
a.strip()

'hi'

### 문자열 바꾸기 replace

In [82]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기 split

괄호 안에 아무 것도 안넣어 주면 공백(스테이스, 탭, 엔터 등)을 기준으로 문자열을 나눠준다.

괄호 안에 특정 값이 있는 경우 괄호 아느이 값을 구분자로 해서 문자열을 나눠 리스트에 들어간다.

In [83]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [84]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']